.adding-contact {
  height: 360px;
  width: 440px;
  border-radius: 25px;
  border: 1px solid #c0c0c0;
  background-color: #d7ffd9;
}
#submission-form {
  margin-top: 40px;
}
#add-box {
  box-sizing: border-box;
  margin-left: 500px;
  margin-top: 200px;
}
#name {
  margin: 40px;
}
#name-input {
  margin: 40px;
  width: 330px;
}
#number {
  margin: 40px;
}
#number-input {
  margin: 40px;
  width: 330px;
}
.buttons {
  background-color: #92fb98;
  border-radius: 0px 0px 25px 25px;
  height: 80px;
  width: 440px;
}
#add-beast {
  margin: 27px 50px 26px 50px;
  height: 35px;
  width: 100px;
  background-color: #faf0b6;
  border-radius: 25px;
  border: 1px solid #c0c0c0;
}
#close-button {
  margin: 27px 30px 26px 70px;
  height: 35px;
  width: 100px;
  background-color: #ccf8e9;
  border-radius: 25px;
  border: 1px solid #c0c0c0;
}
