@font-face {
  font-family: DancingScript;
  src: url(/assets/fonts/DancingScript-VariableFont_wght.ttf);
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  list-style: none;
}
h1 {
  margin: 0;
  padding: 28px 0 28px 65px;
  font-family: DancingScript;
}

.main-header {
  background-color: aqua;
  border-bottom: 1px solid #000000;
  height: 100px;
  margin: 0;
  padding: 0;
}
section {
  border-right: 1px solid #000000;
  width: 250px;
  height: calc(100vh - 101px);
  background-color: #fffcd7;
}
#add-button {
  margin: 20px 25px 30px 25px;
  height: 40px;
  width: 200px;
  background-color: #f5f5f5;
  border-radius: 15px;
  border: 1px solid #c0c0c0;
}
.list-group {
  list-style: none;
  text-decoration: none;
  padding: inherit;
}

.list-group-item {
  height: 35px;
  width: 200px;
  border-radius: 15px;
  border: 1px solid #c0c0c0;
  background-color: #f5f5f5;
  margin: 20px 25px 30px 25px;
  box-sizing: border-box;
  text-align: center;
}

/* Modals */

.modal-wrapper {
  height: 360px;
  width: 440px;
  border-radius: 25px;
  border: 1px solid #c0c0c0;
  background-color: #d7ffd9;
}
#submission-form {
  margin-top: 40px;
}
#add-modal-backdrop {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#add-modal {
  box-sizing: border-box;
  /* display: none; */
}

#name {
  margin: 40px;
}
#name-input {
  margin: 40px;
  width: 330px;
}
#number {
  margin: 40px;
}
#number-input {
  margin: 40px;
  width: 330px;
}
.buttons-1 {
  background-color: #92fb98;
  border-radius: 0px 0px 25px 25px;
  height: 80px;
  width: 440px;
}
#add-beast {
  margin: 27px 50px 26px 50px;
  height: 35px;
  width: 100px;
  background-color: #faf0b6;
  border-radius: 25px;
  border: 1px solid #c0c0c0;
}
#close-button {
  margin: 27px 30px 26px 70px;
  height: 35px;
  width: 100px;
  background-color: #ccf8e9;
  border-radius: 25px;
  border: 1px solid #c0c0c0;
}
