/* GLOBAL */
@font-face {
  font-family: DancingScript;
  src: url(/assets/fonts/DancingScript-VariableFont_wght.ttf);
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  list-style: none;
}
h1 {
  margin: 0;
  padding: 28px 0 28px 65px;
  font-family: DancingScript;
}
.content-wrapper {
  display: flex;
}
/* Header & side-bar */
.main-header {
  height: 100px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #000000;
  background-color: aqua;
}
#sidebar {
  width: 250px;
  height: calc(100vh - 101px);
  border-right: 1px solid #000000;
  background-color: #fffcd7;
}
#add-button {
  height: 40px;
  width: 200px;
  margin: 20px 25px 30px 25px;
  background-color: #f5f5f5;
  border-radius: 15px;
  border: 1px solid #c0c0c0;
}
.list-group {
  padding: inherit;
  list-style: none;
  text-decoration: none;
}

.list-group-item {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 35px;
  margin: 20px 25px 30px 25px;
  border: 1px solid #c0c0c0;
  border-radius: 15px;
  background-color: #f5f5f5;
}

/* Modals */

.modal-wrapper {
  height: 360px;
  width: 440px;
  border: 1px solid #c0c0c0;
  border-radius: 25px;
  background-color: #d7ffd9;
}
#submission-form {
  margin-top: 40px;
}
#add-modal-backdrop {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
#add-modal {
  box-sizing: border-box;
  /* display: none; */
}

#name,
#number {
  margin: 40px;
}
#name-input,
#number-input {
  margin: 35px;
  width: 330px;
}

.buttons-1 {
  height: 80px;
  width: 440px;
  border-radius: 0 0 25px 25px;
  background-color: #92fb98;
}
#add-beast,
#close-button {
  margin: 27px 50px 25px 60px;
  height: 35px;
  width: 100px;
  background-color: #faf0b6;
  border-radius: 25px;
  border: 1px solid #c0c0c0;
}
#close-button {
  background-color: #ccf8e9;
}
/* Cards */
.card-wrapper {
  box-sizing: border-box;
  width: 290px;
  height: 180px;
  margin: 50px;
  border: 1px solid #000000;
  border-radius: 25px;
}
.card-wrapper h2,
p {
  margin: 20px;
}

/* Card buttons */

#call-button,
.delete-button,
.cancel-button {
  border-radius: 25px;
  border: 1px solid #000000;
  width: 60px;
  margin-right: 10px;
  background-color: #00ff7f;
  margin: 30px 0 10px 20px;
}
.delete-button {
  background-color: red;
}
.cancel-button {
  background-color: skyblue;
}
