/* GLOBAL */
@font-face {
  font-family: DancingScript;
  src: url(/assets/fonts/DancingScript-VariableFont_wght.ttf);
}

body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  list-style: none;
}
h1 {
  margin: 0;
  font-family: DancingScript;
}
.content-wrapper {
  display: flex;
}

ul {
  padding: 0;
  margin: 0;
}

/* Header & side-bar */
header {
  padding: 28px 0 28px 65px;
  border-bottom: 1px solid #000000;
  background-color: aqua;
}
.sidebar {
  width: 250px;
  height: calc(100vh - 101px);
  border-right: 1px solid #000000;
  background-color: #fffcd7;
  padding-top: 20px;
}
.sidebar button {
  width: 200px;
  height: 40px;
  margin: 0 25px;
  background-color: #f5f5f5;
  border: 1px solid #c0c0c0;
  border-radius: 15px;
}
.sidebar ul {
  margin-top: 30px;
  list-style: none;
  text-decoration: none;
}

.list-group-item {
  text-align: center;
  padding: 11px 0;

  box-sizing: border-box;
  margin: 20px 25px 30px 25px;
  border: 1px solid #000000;
  border-radius: 15px;
  background-color: #fffffa;
}

/* Modals */
.backdrop {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
  border: 1px solid #c0c0c0;
  border-radius: 25px;
  background-color: #d7ffd9;
  padding: 35px;
}
.submission-form {
  max-width: 330px;
}
.form-group {
  margin-bottom: 40px;
}
.form-group input {
  width: 100%;
}
.form-group label {
  display: block;
  margin-bottom: 10px;
}

.add-modal-footer button {
  height: 35px;
  width: 100px;
  border-radius: 25px;
  border: 1px solid #c0c0c0;
}

.add-beast {
  background-color: #faf0b6;
  margin-right: 20px;
}
.close-button {
  background-color: #ccf8e9;
}
/* Cards */
#cards-container {
  display: flex;
}
.card-wrapper {
  box-sizing: border-box;
  width: 290px;
  height: 180px;
  margin: 50px;
  border: 1px solid #000000;
  border-radius: 25px;
  padding: 20px;
}

/* Card buttons */
.card-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.btn-card {
  border-radius: 25px;
  border: 1px solid #000000;
  width: 60px;
}

.btn-call {
  background-color: #00ff7f;
}
.btn-delete {
  background-color: red;
}
.btn-cancel {
  background-color: skyblue;
}
